{% extends 'base.html' %} {% block content %}

<div>
  <h1>Plan Your Route</h1>
  <form action="/plan-route" method="post">
    <label for="source">Source Station:</label>
    <input list="source" name="source" id="source-input" />
    <datalist id="source">
      {% for station in stations %}
      <option value="{{ station }}">{{ station }}</option>
      {% endfor %}
    </datalist>

    <br /><br />

    <label for="destination">Destination Station:</label>
    <input list="destination" name="destination" id="destination-input" />
    <datalist id="destination">
      {% for station in stations %}
      <option value="{{ station }}">{{ station }}</option>
      {% endfor %}
    </datalist>

    <br /><br />

    <input type="submit" value="Plan my route" />
  </form>
</div>

{% endblock %}
