{% extends 'base.html' %} {% block content %}

<div style="width: 50%;">
  <h1>Plan Your Route</h1>
  <form action="/plan-route" method="post">
    <label class="form-label" for="source">Source Station:</label>
    <input class="form-control" list="source" name="source" id="source-input" placeholder="Enter source station name" />
    <datalist id="source">
      {% for station in stations %}
      <option value="{{ station }}">{{ station }}</option>
      {% endfor %}
    </datalist>

    <br /><br />

    <label class="form-label" for="destination">Destination Station:</label>
    <input class="form-control" list="destination" name="destination" id="destination-input" placeholder="Enter destination station name" />
    <datalist id="destination">
      {% for station in stations %}
      <option value="{{ station }}">{{ station }}</option>
      {% endfor %}
    </datalist>

    <br /><br />

    <input type="submit" class="btn btn-outline-primary mt-3" value="Plan my route" />
    <!-- <button type="submit" class="btn btn-outline-primary mt-3">Search</button> -->
  </form>
</div>

{% endblock %}
